<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render partial: 'user', object: @user %>

    <%= link_to "Edit #{@user.model_name.name.downcase}", {controller: 'users', action: 'edit', id: @user}, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete #{@user.model_name.name.downcase}", {controller: 'users', action: 'destroy'}, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to #{@user.model_name.name.downcase}s", {controller: 'users', action: 'index'}, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
<div>
  <%= link_to_if @user.class == Customer, "Add car", new_car_path(customer_id: @user.id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
<div>
