<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render partial: 'user', object: @user %>

    <%= link_to "Edit #{@user.model_name.name.downcase}", {controller: 'users', action: 'edit', id: @user}, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete #{@user.model_name.name.downcase}", {controller: 'users', action: 'destroy'}, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to #{@user.model_name.name.downcase}s", {controller: 'users', action: 'index'}, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
<% if @user.class == Customer %>
  <div>
    <%= link_to "View Cars",  customer_cars_path(@user), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div>
    <%= link_to "Add car", new_customer_car_path(@user), {class: "rounded-lg ml-2 py-3 px-5 bg-blue-600 text-white block font-medium"} %>
  </div>
<% end %>
<% if @user.class == Admin %>
  <div>
    <%= link_to "Show employees", admin_employees_path(@user), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div>
    <%= link_to "Add employee", new_admin_employee_path(@user), {class: "rounded-lg ml-2 py-3 px-5 bg-blue-600 text-white block font-medium"} %>
  </div>
<% end %>
