<%# --------CAROUSEL---------- %>
<section data-controller="transitions" data-action="load@window->transitions#initiateHomeSlider" class="relative md:h-80 lg:h-screen bg-site-gray">
  <div class="relative text-white text-5xl items-center justify-center transition-opacity ease-out duration-700  slide opacity-100">
    <%= image_tag 'slider/home_slider.jpg', size: "100%", class: "absolute top-0" %>
    <h1 class="absolute top-20 md:top-44 lg:top-72 uppercase font-thin text-3xl md:text-6xl lg:text-9xl flex flex-col justify-center items-center w-full transition-transform ease-in duration-500 translate-y-0 slide-header">
      Quality car
      <span class="font-medium  bg-opacity-50 transition-transform ease-in duration-500 translate-y-0 slide-span">Maintainance</span>
    </h1>
  </div>
  <div class="relative flex inset-0 text-white text-5xl items-center justify-center transition-opacity ease-out duration-700 slide opacity-0">
    <%= image_tag 'slider/home_slider_2.jpg', size: "100%", class: "absolute top-0" %>
    <h1 class="absolute top-20 md:top-44 lg:top-72 uppercase font-thin text-3xl md:text-6xl lg:text-9xl flex flex-col justify-center items-center w-full transition-transform ease-in duration-500 translate-y-0 slide-header">
      Quality car
      <span class="font-medium bg-opacity-50 transition-transform ease-in duration-500 translate-y-0 slide-span">Maintainance</span>
    </h1>
  </div>
  <div class="relative flex inset-0 text-white text-5xl items-center justify-center transition-opacity ease-out duration-700 slide opacity-0">
    <%= image_tag 'slider/home_slider_3.jpg', size: "100%", class: "absolute top-0" %>
    <h1 class="absolute top-20 md:top-44 lg:top-72 uppercase font-thin text-3xl md:text-6xl lg:text-9xl flex flex-col justify-center items-center w-full transition-transform ease-in duration-500 translate-y-0 slide-header">
      Quality car
      <span class="font-medium bg-opacity-50  transition-transform ease-in duration-500 translate-y-0 slide-span">Maintainance</span>
    </h1>
  </div>
</section>

<%# --------ABOUT US---------- %>
<section class="bg-site-gray h-[800px] lg:h-screen text-white">
  <div class="container mx-auto px-5 py-10 flex flex-col justify-center items-center relative top-52">
    <h2 class="uppercase flex flex-col justify-center items-center text-3xl md:text-8xl font-thin">
      a few words
      <span class="font-medium">about us</span>
    </h2>
    <p class="px-10 py-5 text-center font-thin text-lg text-gray-400">For nearly 20 years, residents throughout the local area have turned to Car Repair for all of their automotive repair needs. With free estimates and fast turnaround, we are known for our personal service and expertise in all forms of specialized engine repair. We use the latest and most modern diagnostic technology to have you back in your car.</p>
    <%= link_to 'read more', '#', class: "uppercase bg-red-600 hover:bg-gray-500 h-20 flex justify-center items-center w-3/6 lg:w-1/6 text-2xl lg:text-3xl rounded mt-5" %>
  </div>
</section>

<%# --------BEST SERVICES------- %>
<section class="text-white h-[800px] lg:h-screen">
  <div class="flex flex-col h-full lg:flex-row">
    <div class="lg:w-1/2 lg:relative md:h-96 lg:h-screen">
      <%= image_tag 'engine.jpg', size: "100%", class: "lg:absolute lg:top-0 object-cover lg:h-full" %>
    </div>
    <div class=" bg-red-600 lg:w-1/2 h-full">
      <div class="container mx-auto px-5 py-10 md:py-0 lg:py-10 flex flex-col justify-center items-center lg:relative lg:top-52 mb-10 lg:mb-0">
        <h2 class="uppercase flex flex-col justify-center items-center text-3xl md:text-8xl font-thin">
          best
          <span class="font-medium">services</span>
        </h2>
        <p class="text-center font-thin text-lg">Car Repair can solve almost any problem that occurs with your vehicle. From engine repairs and oil change to regular maintenance and diagnostics, you will always get reliable services from our ASE certified technicians who use the latest in automotive equipment and diagnostic software.</p>
        <%= link_to 'read more', '#', class: "uppercase bg-white hover:bg-gray-500 h-20 flex justify-center items-center w-3/6 md:w-2/6 text-2xl md:text-3xl rounded mt-6 text-site-gray" %>
      </div>
    </div>
  </div>
</section>

<%# --------GUARANTEE---------- %>
<section class="text-white h-auto">
  <div class="flex flex-col h-full lg:flex-row">
    <div class=" bg-site-gray lg:w-1/2 h-full">
      <div class="container mx-auto px-5 py-10 flex flex-col justify-center items-center lg:relative lg:top-52 mb-10 lg:mb-0">
        <h2 class="uppercase flex flex-col justify-center items-center text-3xl md:text-8xl font-thin">
          100% result
          <span class="font-medium">guarantee</span>
        </h2>
        <p class="text-center font-thin text-lg">Car Repair stands for expertise, value, and professionalism - and has from the day the company began. We were the first automotive aftermarket repair company to offer a lifetime guarantee on select services, and today we guarantee that the results of our work will meet your expectations.</p>
        <%= link_to 'read more', '#', class: "uppercase bg-site-gray hover:bg-red-600 h-20 flex justify-center items-center w-3/6 md:w-2/6 text-2xl md:text-3xl rounded mt-6 text-white" %>
      </div>
    </div>
    <div class="lg:w-1/2 lg:relative md:h-96 lg:h-screen">
      <%= image_tag 'cockpit.jpg', size: "100%", class: "lg:absolute lg:top-0 object-cover lg:h-full" %>
    </div>
  </div>
</section>

<%# --------ADVANTAGES--------- %>
<section class="h-auto text-site-gray">
  <div class="flex flex-col md:h-full mt-10 md:mt-80 lg:mt-10 items-center lg:px-28 mb-16">
    <h2 class="uppercase text-center font-bold text-4xl md:text-6xl lg:text-8xl ">our <span class="font-thin">advantages</span></h2>
    <div class="mt-10 flex flex-col md:flex-row lg:gap-x-20">
      <div class="flex flex-col lg:flex-row-reverse items-center">
        <div class="relative">
          <div class=" lnr lnr-car text-red-600 text-8xl relative top-1"></div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="130.5px" height="150.5px" class="absolute top-0 -right-4">
            <path fill-rule="evenodd" stroke="#ea202e" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M64.500,147.500 L1.511,111.000 L1.511,38.000 L64.500,1.500 L127.489,38.000 L127.489,111.000 L64.500,147.500 Z"></path>
          </svg>
        </div>
        <div class="mt-14 justify-center items-center text-center lg:text-right p-4 md:p-6 lg:px-10 lg:w-2/3">
          <h4 class="uppercase font-semibold text-2xl hover:text-red-600">all car makes</h4>
          <p class="font-normal mt-2">We provide a variety of repair and maintenance services for all car makes and models, even for exotic and vintage ones.</p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row items-center">
        <div class="relative">
          <div class=" lnr lnr-car text-red-600 text-8xl relative top-1"></div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="130.5px" height="150.5px" class="absolute top-0 -right-4">
            <path fill-rule="evenodd" stroke="#ea202e" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M64.500,147.500 L1.511,111.000 L1.511,38.000 L64.500,1.500 L127.489,38.000 L127.489,111.000 L64.500,147.500 Z"></path>
          </svg>
        </div>
        <div class="mt-14 justify-center items-center text-center lg:text-left p-4 md:p-6 lg:px-10 lg:w-2/3">
          <h4 class="uppercase font-semibold text-2xl hover:text-red-600">service variety</h4>
          <p class="font-normal mt-2">The main principle of our work is to offer a wide range of quality car repair services and we’ve been doing it since our first day.</p>
        </div>
      </div>
    </div>
    <div class="mt-10 flex flex-col md:flex-row lg:gap-x-20">
      <div class="flex flex-col items-center lg:flex-row-reverse">
        <div class="relative">
          <div class=" lnr lnr-car text-red-600 text-8xl relative top-1"></div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="130.5px" height="150.5px" class="absolute top-0 -right-4">
            <path fill-rule="evenodd" stroke="#ea202e" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M64.500,147.500 L1.511,111.000 L1.511,38.000 L64.500,1.500 L127.489,38.000 L127.489,111.000 L64.500,147.500 Z"></path>
          </svg>
        </div>
        <div class="mt-14 justify-center items-center text-center lg:text-right p-4 md:p-6 lg:px-10 lg:w-2/3">
          <h4 class="uppercase font-semibold text-2xl hover:text-red-600">quality support</h4>
          <p class="font-normal mt-2">Car Repair offers quality support programs for any vehicles that allow them to always stay fully functional.</p>
        </div>
      </div>
      <div class="flex flex-col items-center lg:flex-row">
        <div class="relative">
          <div class=" lnr lnr-car text-red-600 text-8xl relative top-1"></div>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="130.5px" height="150.5px" class="absolute top-0 -right-4">
            <path fill-rule="evenodd" stroke="#ea202e" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M64.500,147.500 L1.511,111.000 L1.511,38.000 L64.500,1.500 L127.489,38.000 L127.489,111.000 L64.500,147.500 Z"></path>
          </svg>
        </div>
        <div class="mt-14 justify-center items-center text-center lg:text-left p-4 md:p-6 lg:px-10 lg:w-2/3">
          <h4 class="uppercase font-semibold text-2xl hover:text-red-600">accessories</h4>
          <p class="font-normal mt-2">At our car repair center, you can also buy any accessories you need for your vehicle, including car tires and filters.</p>
        </div>
      </div>
    </div>
    <div class="lg:mt-28  w-full">
      <%= link_to 'read more', '#', class: "uppercase bg-site-gray hover:bg-red-600 h-20 f flex justify-center items-center w-3/6 md:w-2/6 lg:w-1/6 text-2xl md:text-3xl rounded text-white mx-auto" %>
      </div>
  </div>
</section>

<%# --------SERVICES---------- %>
<section class="h-auto text-white bg-service bg-fixed bg-cover bg-no-repeat">
  <div class=" px-6 lg:px-28 py-10 backdrop-blur-sm backdrop-brightness-75 h-full">
    <h2 class="font-thin uppercase flex flex-col justify-center items-center text-6xl md:text-8xl">our <span class="font-bold">services</span></h2>
    <div class="md:flex justify-center items-center gap-x-5 md:mt-10">
      <div class="flex justify-center items-center flex-col mt-10 md:mt-0 md:h-full md:w-1/2">
        <div class="flex flex-col lg:flex-row">
          <div class="bg-brake w-full h-[500px] lg:w-1/3 lg:h-[200px] bg-cover bg-no-repeat"></div>
          <div class="bg-red-600 p-4 hover:bg-site-gray lg:w-2/3 lg:h-[200px]">
            <h4 class="uppercase p-2 text-2xl lg:font-medium">brake repair</h4>
            <p class="p-2 text-2xl lg:text-lg font-thin">From the brake pedal to hydraulic brake fluid, our technicians can perform brake repair on any make and model.</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center flex-col mt-10 md:mt-0 md:h-full md:w-1/2">
        <div class="flex flex-col lg:flex-row">
          <div class="bg-engine-repair w-full h-[500px] lg:w-1/3 lg:h-[200px] bg-cover bg-no-repeat"></div>
          <div class="bg-red-600 p-4 hover:bg-site-gray lg:w-2/3 lg:h-[200px]">
            <h4 class="uppercase p-2 text-2xl lg:font-medium">engine repair</h4>
            <p class="p-2 text-2xl lg:text-lg font-thin">We take the welfare of your engine seriously and offer services to prevent the need for future engine replacement.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="md:flex justify-center items-center gap-x-5 md:mt-10">
      <div class="flex justify-center items-center flex-col mt-10 md:mt-0 md:h-full md:w-1/2">
        <div class="flex flex-col lg:flex-row">
          <div class="bg-oil-change w-full h-[500px] lg:w-1/3 lg:h-[200px] bg-center bg-cover bg-no-repeat"></div>
          <div class="bg-red-600 p-4 hover:bg-site-gray lg:w-2/3 lg:h-[200px]">
            <h4 class="uppercase p-2 text-2xl lg:font-medium">oil change</h4>
            <p class="p-2 text-2xl lg:text-lg font-thin">One of the most effective and inexpensive ways to help protect your car is to change the oil and the oil filter regularly.</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center flex-col mt-10 md:mt-0 md:h-full md:w-1/2">
        <div class="flex flex-col lg:flex-row">
          <div class="bg-accident w-full h-[500px] lg:w-1/3 lg:h-[200px] bg-cover bg-no-repeat"></div>
          <div class="bg-red-600 p-4 hover:bg-site-gray lg:w-2/3 lg:h-[200px]">
            <h4 class="uppercase p-2 text-2xl lg:font-medium">accident repair</h4>
            <p class="p-2 text-2xl lg:text-lg font-thin">With attention to detail, we restore your car to original status after accidents, both minor and major.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%#----------CLIENTS-----------%>
<section class="h-auto bg-white text-site-gray px-4 py-10">
  <h4 class="uppercase p-4 text-5xl font-bold flex flex-col justify-center items-center">what our <span class="font-thin">clients say</span></h4>
  <div>
    <h1>REVIEWS</h1>
  </div>
</section>

<%# --------CONTACTS---------- %>
<section class="h-auto bg-[url('contact.jpg')] bg-fixed bg-cover bg-no-repeat text-white">
  <div class=" backdrop-blur-sm backdrop-brightness-75 px-4 py-10 flex flex-col justify-center items-center">
      <h4 class="uppercase p-4 text-5xl font-bold flex flex-col justify-center items-center">our <span class="font-thin">contacts</span></h4>
      <p class="text-4xl mt-10 font-light">Address: <%= link_to 'Home Home', '#', class: "hover:text-red-600" %></p>
      <div class="lnr lnr-phone text-8xl text-gray-400 opacity-75 mt-10"></div>
      <div class="mt-10 text-2xl">0700-000-000</div>
      <div class="text-2xl">0700-000-000</div>
      <div class="flex gap-x-5 mt-10">
        <div class="h-20 w-20">
          <svg class="fill-red-600 hover:fill-site-gray" height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" width="100%"><path d="M449.446,0c34.525,0 62.554,28.03 62.554,62.554l0,386.892c0,34.524 -28.03,62.554 -62.554,62.554l-106.468,0l0,-192.915l66.6,0l12.672,-82.621l-79.272,0l0,-53.617c0,-22.603 11.073,-44.636 46.58,-44.636l36.042,0l0,-70.34c0,0 -32.71,-5.582 -63.982,-5.582c-65.288,0 -107.96,39.569 -107.96,111.204l0,62.971l-72.573,0l0,82.621l72.573,0l0,192.915l-191.104,0c-34.524,0 -62.554,-28.03 -62.554,-62.554l0,-386.892c0,-34.524 28.029,-62.554 62.554,-62.554l386.892,0Z"/></svg>
        </div>
        <div class="h-20 w-20">
          <svg class="fill-red-600 hover:fill-site-gray" width="100%" height="100%" viewBox="0 0 1200 1227"><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"></path></svg>
        </div>
      </div>
      <p class="mt-10 w-full text-center font-thin">
        <span>©  </span>
        <span><%= Time.current.year %>. </span>
        All Rights Reserved.
      </p>
  </div>
</section>
