<div id="<%= dom_id car %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Make:</strong>
    <%= car.make %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= car.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year of manufactuer:</strong>
    <%= car.year_of_manufactuer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Vin:</strong>
    <%= car.vin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Registration:</strong>
    <%= car.registration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mileage:</strong>
    <%= car.mileage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Odometer type:</strong>
    <%= car.odometer_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= User.find(car.user_id).username %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show", car_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit", edit_car_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete", car_path, method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <hr class="mt-6">
  <% end %>
</div>
