<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= link_to "Add Service", new_car_service_path(@car), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-flex font-medium" %>

    <%= render @car %>

    <%= link_to "Edit", edit_car_path(@car), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete", car_path(@car), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to customer cars", customer_cars_path(@car.customer_id), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to customer", {controller: 'users', action: 'show', id: @car.customer_id}, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
